@charset "UTF-8";


span.title01 {
	font-size: 60px;
	color: #000000;
	font-family: NanumSquareRound;
}
span.title02 {
	font-size: 20px;
	color: #ABABAB;
	font-family: NanumSquareRound;
}
span.s-text01 {
	font-size: 60px;
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;	
}
span.s-text02 {
	font-size: 40px;
	color: #404040;
	font-family: Arial;
	font-weight: bold;	
}

#menu {
    font-size: 40px;
    font-family: NanumSquareRound;
    font-weight: bold;	
}

#count {
    font-size: 20px;
    font-family: NanumSquareRound;
    font-weight: bold;	
}